.content-box {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 5px auto;
  padding: 15px;
  border: solid 2px var(--alt-base-grey);
  border-radius: 8px;
  box-shadow: 0 0 6px 1 px rgba(0, 0, 0, 0.5);
}

.center {
  display: flex;
  height: 80%;
  margin: auto;
}

.content-spacing {
  justify-self: center;
  margin: 20px auto;
}