.flex-row {
  justify-content: center;
}

.search-area:focus {
  border-color: #fea85d;
  outline: 0;
  box-shadow: 0 0 2px 0.2rem  rgba(92, 2, 131, 0.166);
}

.submit-btn {
  background-color: #ca2ce1;
  border-color: rgb(86, 14, 159);
  width: 100%;
}

.submit-btn:hover {
  background-color: #f8a52e;
  border-color: rgb(86, 14, 159);
  box-shadow: 0 0 2px 0.2rem  rgba(92, 2, 131, 0.166)
}